body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.navbar-brand {
  font-weight: bold;
  color: #f9c74f !important;
}

main.contact-page {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item img {
  width: 30px;
  margin-right: 10px;
}

.contact-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
/* button */
button {
  background: #4b79a1;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s ease;
}

button:hover {
  background: #283e51;
}

footer {
  background: linear-gradient(to right, #c6c6c9, #858189);
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Loader styles */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4b79a1;
  border-right: 16px solid #283e51;
  border-bottom: 16px solid #ffa500;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
